<br/>
<div class="basic-grey">
  <h1>Página inicial</h1>

  <ul>
    <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <%= link_to "Tipos", kinds_path %> </li>
    <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= link_to "Contatos", contacts_path %> </li>
  </ul>
</div>
