
<div class="basic-grey">

  <script>
    $.notify("<%= notice %>", "success");
  </script>

  <h1> <%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}" %> </h1>

  <table>
    <thead>
      <tr>
        <th><%= @contacts.model.human_attribute_name("name")%></th>
        <th><%= @contacts.model.human_attribute_name("kind")%></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style="background: <%= cycle('white', '#f0f0f5') %>">
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= link_to t('buttons.edit'), edit_contact_path(contact) %></td>
          <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @contacts%>

  <br>

  <%= link_to t('buttons.new'), new_contact_path, class: "btn btn-primary" %>
  <%= link_to t('buttons.home'), root_path, class: "btn btn-success" %>
<div>
